        .android-large {
            width: 360px;
            height: 800px;
            background-color: #ffffff;
            border-radius: 10px;
            overflow: hidden;
            margin: auto;
        }

        .android-large .overlap-group {
            height: 800px;
            border: 5px solid;
            border-color: #d9d9d9;
        }

        .android-large .frame {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 330px;
            min-height: 173px;
            /* テキストエリアとボタンを含むために高さを調整 */
            gap: 10px;
            position: relative;
            top: 5px;
            left: 9px;
            background-color: #d9d9d9;
            border-radius: 20px 20px 20px 0px;
            overflow: hidden;

        }

        .android-large .text-wrapper {
            position: relative;
            width: 300px;
            font-family: "Roboto-Regular", Helvetica;
            font-weight: 400;
            color: #000000;
            font-size: 18px;
            text-align: center;
            letter-spacing: 0.25px;
            line-height: 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
        }

        #auto-focus-field {
            width: 330px;
            height: 133px;
            background-color: #d9d9d9;
            border-radius: 20px 20px 20px 0px;
            padding: 10px;
            border: none;
            resize: none;
            outline: none;
        }

        input[type="button"] {
            display: block;
            width: 150px;
            height: 40px;
            background-color: #acd4d4;
            color: white;
            border: none;
            border-radius: 20px;
            cursor: pointer;
            outline: none;
            margin-top: 20px;
            margin-left: auto;
            margin-right: auto;
        }

        input[type="button"]:hover {
            background-color: #acd4d4;
        }